@import url("modules/_blog-navbar-mixins.css");
@import url("modules/_blog-navbar-drop-down-btn.css");
@import url("modules/_blog-navbar-drop-down-close-btn.css");
@import url("modules/_blog-navbar-positioning.css");
@import url("modules/_nav-drop-down.css");

.blog-navbar {
	/*display: none;*/
	height: 0;
	overflow: visible;
	z-index: 10;
	width: 100%;
	box-sizing: border-box;

	&__position {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 5px;
		transform: translateY(-100%);

		&__menu {
			position: relative;
			max-width: 280px;
			left: 50%;
			transform: translateX(-50%);

			> ul {
				position: relative;
				display: inline;
				z-index: 2;
				margin: 0;
				padding: 0;
			}

			&__background {
				display: none;
			}

			&__item {
				list-style: none;

				> a {
					text-decoration: none;
		    		@mixin mobileBlogNavBtnStyle;
				}	
			}

			&__item--active .fas {
				margin-left: 0.4rem;
				vertical-align: middle;
			}

			&__item-separator {
				display: none;
			}

			&__drop-down {
				list-style: none;

	    		&__name {
		    		@mixin mobileBlogNavBtnStyle;
	    		}

				&__list {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}
/*injavascript background, z-index*/

@media(min-width: 419px) {
	/*.blog-navbar {
		height: 100px;
		background: red;
	}*/
	.blog-navbar__position__menu__drop-down__name,
	.blog-navbar__position__menu__drop-down__list__item,
	.blog-navbar__position__menu__item > a {
		font-size: 1.2rem;
	}
}

@media(min-width: 576px) {
	.blog-navbar {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		height: unset;

		&__position {
			position: relative;
			padding: 0;

			&__menu {
				max-width: unset;
				width: 100%;
				left: unset;
				transform: unset;


				> ul {
					display: inline-block;
					left: 50%;
					transform: translateX(-50%);
				}

				&__background {
					display: block;
					background: black;
					opacity: 0.5;
					z-index: 1;
					position: absolute;
					width: 100%;
					height: 100%;
				}

				&__item {
					display: inline-block;

					> a	{
						@mixin desktopBlogNavBtnStyle;
					}
				}

				&__item--active .fas {
					margin-left: 0.4rem;
					vertical-align: baseline;
				}
				
				&__item-separator {
					display: inline-block;
					width: 0;
					border: 0.09375rem solid white;
					color: white;
					height: 1rem;
					margin-bottom: -0.2rem;
					border-radius: 0.1rem;
					    background: white;
				}
				
				&__drop-down {
					display: inline-block;

					&__name {
						@mixin desktopBlogNavBtnStyle;
	    			}
					
					&__list {
						display: none;
					}
				}
			}
		}
	}
}

@media(min-width: 768px) {
	.blog-navbar__position__menu__item > a {
		padding: 0.525rem 0.5375rem;
		font-size: 1.2rem;
	}
				
	.blog-navbar__position__menu__drop-down__name {
		padding: 0.525rem 0.5375rem;
		font-size: 1.2rem;
	}
}