.article {
    /*width: 100%;*/
    &__content {
        background-color: $mainWhite;

        &__header {
            padding: 0.375rem 0.375rem 0;

            &__h3 {
                margin: 0;
                padding-left: 0.1rem;
                margin-top: 0.2rem;
                color: $textOrange;
                font-size: 1.2rem;
                @mixin fontPoppins;
                text-shadow: 0 1px 1px rgba(0,0,0,0.33);

                &--centered {
                    text-align: center;
                }
            }

            &__small-heading {
                color: #8e8e8e;
                margin-top: 0.3rem;
                margin-bottom: 0;
                padding-left: 0.1rem;
                padding-bottom: 0.3rem;
                display: inline-block;
                width: 100%;
                border-bottom: 2px solid #c3c3c3;
            }
        }
            
        &__body {
            padding: 0rem 0.375rem 0.375rem;
            line-height: 1.4rem;
            @mixin fontPoppins;

            & p {
                margin: 0.6rem 0;
            }

            & p:last-child {
                margin: 0.6rem 0 0 0;
            }

            &__teaser {
                font-weight: bold;
                text-align: justify;
            }
        }
    }

}

.article:last-child {
    margin-bottom: 0rem;
}

@media (min-width: 419px) {
    .article__content {
        border-radius: $borderRadious;;

        &__header {
            padding-right:  0.625rem;
            padding-left:  0.625rem;

            &__h3 {
                font-size: 1.3rem;
            }
        }

        &__body {
            padding-right:  0.625rem;
            padding-left:  0.625rem;
        }
    }    
}

@media (min-width: 768px) {
    .article {
        &__content {
            border-radius: $borderRadious;;

            &__header__h3 {
                        font-size: 1.5rem;
            }
        }
    }
}