.communication {
    width: 100%;
    transition: all ease;
    box-sizing: border-box;

    &--gutter-s-btm-both {
        padding-right: 0.4375rem;
        padding-left: 0.4375rem;
    }
    
    &__header-light {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
        @mixin headingText
    }

    &__header {
        padding: 0 0.375rem 0;
        @mixin fontPoppins;

        &__h3 {
            color: $textOrange;
            margin: 0;
            text-shadow: 0 1px 1px rgba(0,0,0,0.33);

            &--centered {
                text-align: center;
            }
        }

        &__p {
            color: $textGrey;
            margin: 0;
            text-shadow: 0 1px 1px rgba(0,0,0,0.33);
            font-weight: bold;
            font-size: 1.1rem;

            &--centered {
                text-align: center;
            }
        }
    }

    &__flash-msgs > div:last-child {
        margin-bottom: -0.1rem
    }
          
    &__flash-msgs > div:first-child {
        margin-top: 0.6rem
    }

    &__form {
        padding-top: 0.7rem;
        @mixin fontPoppins;

        &__input {
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 8px;
            border-radius: 6px;
            border: 2px solid #fff;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.33);
            margin-bottom: 0.435rem;
            background: $mainWhite;
        }

        &__input--no-margin-bottom {
            margin-bottom: 0 !important;
        }

        &__input--inline {
            display: inline-block;
        }

        &__text-area {
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 8px;
            border-radius: 6px;
            border: 2px solid #fff;
            box-shadow: $boxShadow;
            margin-bottom: 0.435rem;
            background: $mainWhite;
        
        }

        &__btn {
            @mixin orangeGradientBackColor;
            color: white;
            font-weight: bold;
            font-size: 1.05rem;
            box-shadow: $boxShadow;
            border-radius: 6px;
            padding: 6px;
        }
    }
}

@media (min-width: 419px) {
    .communication {
        &__header {

            &__h3 {
                font-size: 1.4rem;
            }

            &__p {
                font-size: 1.2rem;
            }
        }
    }    
}

@media (min-width: 576px) {
    .communication--gutter-z-sm-both {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .communication {
        border-radius: $borderRadious;;
        margin-bottom: 0.5375rem;

        &__header {
            margin-bottom: -0.4rem;

            &__h3 {
                font-size: 1.5rem;
            }
            
            &__p {
                font-size: 1.3rem;
                margin-bottom: 0.2rem;
            }
        }

        &__form {
            &__input {
                margin-bottom: 0.7rem;
            }

            &__text-area {
                margin-bottom: 0.7rem;
            }
        }    
    }
}

