$mainBlue:#bddee5;
$mainGrey:#5b6163;
$backgroundBlue: #e9f6f9;
$mainWhite:#ffffff;
$textGrey:#483b36;
$textBlack:#353535;
$textOrange:#f14036;
$flashDangerColor:#ca0416;
$flashDangerBackground:#fdb2a5;
$flashDangerBorderColor:#f5c6cb;
$flashSuccColor: #155724;
$flashSuccBackground: #b5f1c3;
$flashSuccBorderColor: #c3e6cb;
$glyphiconGreen: #03ff03;