body {
    background-color: $mainBlue;
    position: relative;
}

.margin-bottom-thin {
    margin-bottom: 0.635rem !important;
}

@media(min-width: 576px) {
    .visible-just-on-mobile-view {
        display: none;
    }
}

@media(max-width: 576px) {
    .visible-just-on-desktop-view {
        display: none;
    }

    .padding-top-md-0 {
        padding-top: 0 !important;
    }

}
